<!DOCTYPE html>
<html lang="en">

<head>
	 <% include partials/header %> 
</head>

<body class="">
	<% include partials/nav %> 

  <header class="bg-primary text-white jumbotron">
    <div class="text-center">
      <h1><h1>FindMyAir</h1>
 	  <p class="lead">Welcome to FindMyAir</p></h1>
    </div>
  </header>

 

  <% include partials/footer %> 
</body>

</html>
