<html>

<head>
    <title>FindMyAir</title>
    <link rel="stylesheet" href="css/leaflet/leaflet.css" />
    <link rel="stylesheet" href="css/style.css" />
</head>

<body>
    <p>Try using query parameters on the URL. For ex: /map?lat=40.72&long=-73.9</p>
    <div id="map_holder">
    	<div id="map" data-locations='<%- JSON.stringify(locations) %>'></div>
    </div>
    
    <div id="itineary"><ul></ul></div>
</body>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="js/leaflet/leaflet.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.12.0/d3.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/leaflet-d3-svg-overlay@2.2.0/L.D3SvgOverlay.min.js"></script>
<script src="js/map.js"></script>

</html>