<html>

<head>
    <title>FindMyAir</title>
    <link rel="stylesheet" href="css/leaflet/leaflet.css" />
    <link rel="stylesheet" href="css/style.css" />

    <% include partials/header %> 
</head>

<body class="jumbotron">
    <% include partials/nav %> 
    <!-- <p>Try using query parameters on the URL. For ex: /map?lat=40.72&long=-73.9</p> -->
    
    
    <div class="row" id="options">
        <div class="dropdown open " id="numberdays">
            <button class="btn btn-secondary dropdown-toggle  bg-primary" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Number of Days
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">1</a>
                <a class="dropdown-item" href="#">2</a>
                <a class="dropdown-item" href="#">3</a>
                <a class="dropdown-item" href="#">4</a>
                <a class="dropdown-item" href="#">5</a>
                <a class="dropdown-item" href="#">6</a>
            </div>
        </div>

        <div class="btn-group btn-group-toggle" data-toggle="buttons" id="day-selector"></div>
 
    </div>

    <div class="row" style="height:95%;">
        <div id="map_holder" class="col-md-8" style="max-height: 100%;">
            <div id="map" data-locations='<%- JSON.stringify(locations) %>' data-pois='<%- JSON.stringify(pois) %>'>
            </div>
        </div>


        <div class="col-md-4">
            Select Priorities:
            <div id="piechart-controls">

                <canvas id="piechart">Your browser is too old!</canvas>
                <br>
                <table id="proportions-table"></table>
                <br>
            <hr>
            </div>
            <div id="itineary">
            </div>
        </div>
    </div>

    <div class="row">
        <button class="btn btn-success" type="button" id="submit_pref">Submit</button>
    </div>

    
    

    <% include partials/footer %> 


</body>


<script src="js/leaflet/leaflet.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.12.0/d3.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/leaflet-d3-svg-overlay@2.2.0/L.D3SvgOverlay.min.js"></script>
<script src="js/map.js"></script>
<script src="js/pie.js"></script>
<script src="js/draggable-piechart.js"></script>
</html>