body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#map{
	height: 100%;
}

.poi_popup img{
	width: 100%;
}

.leaflet-marker-icon.selectedMarker{
 	content:url("leaflet/images/red-marker.png") !important;
}

.leaflet-marker-icon{
	content:url("leaflet/images/blue-marker.png") !important;
}

#map_holder{
	width: 65%;
	float: left;
}

#itineary{
	width: 30%;
	float: right;
}

#piechart-controls {
	position: relative;
	left: 1%;
	margin: 5px;
    text-align: center;
    padding: 0;

}

#piechart{
	position: relative;
	left: -5%;
}

table {
    border-collapse: collapse;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;

}

td, th {
    border: 1px solid lightgray;
    padding: 10px;
    margin: 0;

}

.adjust-button {
    width: 20px;
    height: 20px;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    display: inline-block;
    border: 1px solid grey;
    border-radius: 5px;
    margin: 1px;
}