body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#map{
	height: 100%;
}

.poi_popup img{
	width: 100%;
}

.leaflet-marker-icon.selectedMarker{
  background: red;
}

#map_holder{
	width: 75%;
	float: left;
}

#itineary{
	width: 20%;
	float: right;
}